#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#skills > * {
  flex: 1;
  padding: 0.5rem;
}

#skilldivicons {
  display: flex;
  flex-direction: row;
}

#skilldivicons > * {
  flex: 1;
  font-size: 2.5rem;
  padding: 1rem;
}

@media only screen and (max-width: 584px) {
  #skilldivinfo > * {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 786px) and (min-width:584px){
  #skills{
      width:70%;
  }
}

/* #skilldivicons > div > div > span {
    margin: 0.8rem;
    padding:1.5rem;
    font-size:2rem;
}

.skilldivcontent{
    flex:1 1;
}

#skilldivinfo > h3,h4,h5{
    font-size:1rem !important; 
} */
