#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#skills > * {
  flex: 1;
  padding: 0.5rem;
}

#skilldivicons {
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;
  /* background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%); */
  background: #ffffff;
  color: #440a67;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgb(0, 0, 0, 0.2);
  /* box-shadow: 0 8px 12px rgb(255, 117, 140, 0.7); */
}

#skilldivicons > * {
  flex: 1 1 auto;
  font-size: 2.5rem;
  padding: 1rem;
}

.progress-bar {
  background: #440a67 !important;
  opacity: 0.8;
}

.skill-level-wrapper {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 0 2rem;
}

.skill-level-wrapper > * {
  margin: 0.5rem;
  flex: 1 1 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.socialMedia {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
  margin: 1rem;
}

.skill-level-header .js {
  /* background: #f3cf3e; */
  color: #440a67;
}

.skill-level-header .node-js {
  /* background: #03c03c; */
  color: #440a67;
}

.skill-level-header .react-js {
  /* background: #00ffff; */
  color: #440a67;
}

.skill-level-names {
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  font-size: 2rem;
}

.skill-level-names::before {
  position: absolute;
  content: "";
  bottom: 0;
  transform: translateY(-16px);
  height: 11px;
  width: 83%;
  background: #ffffff;
  z-index: -1;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
}

@media only screen and (max-width: 584px) {
  #skilldivicons {
    transform: scale(0.9);
  }

  #skilldivinfo > * {
    font-size: 1rem !important;
    line-height: 1.2rem;
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 786px) and (min-width: 584px) {
  #skills {
    width: 70%;
  }
}

/* #skilldivicons > div > div > span {
    margin: 0.8rem;
    padding:1.5rem;
    font-size:2rem;
}

.skilldivcontent{
    flex:1 1;
}

#skilldivinfo > h3,h4,h5{
    font-size:1rem !important; 
} */
