.greeting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  transform: skewY(2deg);
  /* margin: 1rem; */
  /* padding: 1rem 0 1rem 1rem; */
}

.greeting > * {
  flex: 1 1 auto;
  /* margin: 1rem; */
  padding: 0.5rem;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
}

@media (max-width: 584px) {
  #profileImg {
    width: 8rem !important;
    height: 8rem !important;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.4);
  }

  .greeting {
    /* transform: skew(-10deg) rotate(2deg); */
    transform: skewY(2deg);
  }

  .greeting-text-p {
    font-size: 15px;
    line-height: 20px;
  }

  #greetingBtns > .btn {
    font-size: 0.6rem !important;
    width: 120px;
    background: #db1b4b;
    box-shadow: 3px 3px 0 #ffffff;
    transition: all 0.3s ease-in-out 0s;
  }
}

#profileImg {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.4);
}

#greetingBtns > .btn {
  font-size: 1.1rem;
  background: #db1b4b;
  box-shadow: 3px 3px 0 #ffffff;
  transition: all 0.3s ease-in-out 0s;
}

#greetingBtns > .btn:hover {
  box-shadow: 2px 2px 0 blue;
  background-color: #ffffff;
  color: rgb(11, 55, 248);
  transform: translateY(-3px);
}
