.greeting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  transform: skewY(2deg);
  /* margin: 1rem; */
  /* padding: 1rem 0 1rem 1rem; */
}

.name-intro {
  font-size: 3rem;
  margin: 0.2rem 0;
  padding: 1rem 0;
}

.greeting > * {
  flex: 1 1 auto;
  /* margin: 1rem; */
  padding: 0.5rem;
}

.greeting-text-p {
  font-size: 24px;
  line-height: 40px;
}

@media (max-width: 584px) {
  #profileImg {
    width: 8rem !important;
    height: 8rem !important;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.4);
  }

  .greeting {
    /* transform: skew(-10deg) rotate(2deg); */
    transform: skewY(2deg);
  }

  .name-intro {
    font-size: 1.8rem;
    margin: 0.2rem 0;
    padding: 1rem 0;
  }

  .greeting-text-p {
    font-size: 15px;
    line-height: 20px;
  }

  #greetingBtns > .btn {
    font-size: 0.8rem !important;
    width: 120px;
    background: #db1b4b;
    box-shadow: 3px 3px 0 #ffffff;
    transition: all 0.3s ease-in-out 0s;
  }

  #greetingBtns > .btn:active {
    box-shadow: 2px 2px 0 blue !important;
    background-color: #ffffff !important;
    color: rgb(11, 55, 248) !important;
    transform: translateY(-3px) !important;
  }
}

#profileImg {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.4);
}

#greetingBtns > .btn {
  font-size: 1.1rem;
  background: #db1b4b;
  box-shadow: 3px 3px 0 #ffffff;
  transition: all 0.3s ease-in-out 0s;
}

#greetingBtns > .btn:hover {
  box-shadow: 2px 2px 0 blue;
  background-color: #ffffff;
  color: rgb(11, 55, 248);
  transform: translateY(-3px);
}

.my-name {
  position: relative;
}

.my-name::before {
  content: "";
  height: 8px;
  width: 100%;
  position: absolute;
  background: #ffffff;
  opacity: 0.9;
  bottom: 0;
  transform: translateY(-5deg);
  z-index: -1;
}

/* .hand {
  animation: hand-wave infinite 20s linear;
}

@keyframes hand-wave {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
