.socialMedia > div > a {
  font-size: 2.5rem;
}

.socialMedia > div > a > svg {
  margin: 1rem;
  transition: all 0.4s ease-in-out 0.1s;
}

.socialMedia > div > a > svg:hover {
  transform: rotate(360deg) scale(1.5);
}

#github {
  color: #440a67;
}

#linkedin {
  color: #440a67;
}

#twitter {
  color: #440a67;
}

@media (max-width: 584px) {
  .socialMedia {
    width: 300px;
    line-height: 1.5rem;
  }

  .socialMedia > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .socialMedia > div > a {
    font-size: 1.8rem;
  }

  .socialMedia > div > a > svg {
    margin: 0.5rem;
  }
}
