/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --purplecolor: #98acf8;
  --bluecolor: #0779e4;
}

.logo-name {
  font-size: 1.3rem;
  font-family: "Homemade Apple", cursive;
  color: var(--bluecolor);
}

.navToggler {
  border: none !important;
}

.navbar {
  background-color: transparent !important;
}

#topButton {
  position: fixed;
  z-index: 99;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: all 0.9s ease-in-out;
}

#topButton:hover {
  transform: rotate(360deg);
}

#greetingSection {
  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
  background: #102754;
  color: #ffffff;
  transform: skewY(-2deg);
  margin: 4rem 0;
  padding: 3rem 0;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

/* #greetingSection {
  margin-bottom: 15rem;
} */

#skillsSection {
  margin: 0 0 10rem 0;
}

@media only screen and (max-width: 584px) {
  .logo-name {
    font-size: 1rem;
  }

  #topButton {
    bottom: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }

  #greetingSection {
    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
    background: #102754;
    color: #ffffff;
    transform: skewY(-2deg);
    margin: 1rem 0;
    padding: 3rem 0;
    box-shadow: 0 8px 10px rgab(0, 0, 0, 0.2);
  }
}
